#message{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
}

#message-off{
    display: none;
}

.message-content{
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 490px;
height: 58px;
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
border-radius: 12px;
}